name: luscii_patient_actions_sdk_example
description: Demonstrates how to use the luscii_patient_actions_sdk plugin.
version: 0.6.0+1
publish_to: none

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  luscii_patient_actions_sdk:
    # When depending on this package from a real application you should use:
    #   luscii_patient_actions_sdk: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version.
    path: ../

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  patrol: ^3.17.0
  very_good_analysis: ^10.0.0

dependency_overrides:
  luscii_patient_actions_sdk_android:
    path: ../../luscii_patient_actions_sdk_android
  luscii_patient_actions_sdk_ios:
    path: ../../luscii_patient_actions_sdk_ios
  luscii_patient_actions_sdk_platform_interface:
    path: ../../luscii_patient_actions_sdk_platform_interface

flutter:
  uses-material-design: true

patrol:
  app_name: Example
  android:
    package_name: nl.digizorg.example
  ios:
    bundle_id: nl.digizorg.example
