name: luscii_patient_actions_sdk_android

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - ".github/workflows/luscii_patient_actions_sdk_android.yaml"
      - "luscii_patient_actions_sdk_android/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/luscii_patient_actions_sdk_android.yaml"
      - "luscii_patient_actions_sdk_android/**"

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_channel: stable
      flutter_version: 3.38.7
      min_coverage: 90
      working_directory: luscii_patient_actions_sdk_android
